<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Redd-ID Technology Preview - Serving Your Identity</title>
    <meta name="description" content="ReddID is a community building decentralized applications, and a software stack around decentralized DNS, identity and more for blockchain applications.">
    <!-- Open Graph data -->
    <meta property="og:title" content="ReddID">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://redd.ink/">
    <meta property="og:image" content="https://redd.ink/images/metatags/reddink-screenshot.png">
    <meta property="og:description" content="ReddID is a community building decentralized applications, and a software stack around decentralized DNS, identity and more for blockchain applications.">
    
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css" />
  </head>
  <body>
  % include('head_nav.tpl')


  <div class="container text-center">
    <h2>Register</h2><br>
    <p class="text-left">Redd-ID is a decentralised, blockchain based protocol sharing social identity and providing a platform for micro-transactions and tipping functionality.</p>
    <p class="text-left">Redd-ID is maintained on a global network of computers, much the same as Reddcoin (or Bitcoin). Collectively the network holds and maintains a global registry of social identity and public keys on its own blockchain (sidechain). By running a node, you are not only participating but also securing the network against tampering and control (no central authority)</p>
    <p class="text-left">The Redd-ID global registry contains each owners key/value pairs that are associated for each social media identity. The registry can be queried to identfy and resolve recipients (akin to a global address book). Users of the registry can opt to make any of their information public or private.</p>
    <br>
    <ul class="list-unstyled text-left">
      <li>Redd-ID provides:</li>
        <ul>
          <li>user controlled idenities</li>
          <li>selective publishing of identity information</li>
          <li>user self administered</li>
        </ul>
    </ul>
  </div>
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
 
  </footer>

  </body>
</html>