{% extends "base.html" %}
{% block content %}
<!-- Start Index Body -->
  <div class="container text-center">
    <h2>Redd-ID</h2><br>
    <p><em>Taking social interaction, engagement and rewarding to the next level!</em></p><br>
    <div class="row" id="panel">
    <div class="col-sm-4">
      <p><strong>Acknowledge</strong></p><br>
      <a href="#ack" data-toggle="collapse" data-parent="#panel">
          <img src="{{ url_for('static', filename='images/Acknowledge.jpg') }}" class="img-circle person" alt="Acknowledge">
      </a>
      <div id="ack" class="collapse">
        <p>It takes but a moment to share to another.</p>
        <p>Inspire them.</p>
        <p>Arouse their desire to participate.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p><strong>Reward</strong></p><br>
      <a href="#reward" data-toggle="collapse" data-parent="#ack">
        <img src="{{ url_for('static', filename='images/Reward.jpg') }}" class="img-circle person" alt="Reward">
      </a>
      <div id="reward" class="collapse">
        <p>Earn rewards</p>
        <p>Reward those who deserve</p>
        <p>Big or small, amounts can grow to be substantial</p>
      </div>      
    </div>
    <div class="col-sm-4">
      <p><strong>Promote</strong></p><br>
      <a href="#promote" data-toggle="collapse" data-parent="#panel">
        <img src="{{ url_for('static', filename='images/Promote.jpg') }}" class="img-circle person" alt="Promote">
      </a>
      <div id="promote" class="collapse">
        <p>Use the power of social networking</p>
        <p>Promote stories and articles to gain more exposure.</p>
      </div> 
    </div>
  </div>
  </div>
<!-- End Index Body -->
{% endblock %}