{% extends "base.html" %}
{% block content %}
<!-- Start namespace_lookup Body -->
  <div class="container text-center">
  {% if status.error %}

     <h2>There is no namespace record for "{{name}}"</h2><br>
  {% elif name == '' %}
    <h2>Lookup a Namespace?</h2><br>
    <p></p>

        <form role="form" action="" method="post" name="namespacelookup">
          <div class="form-group">
            Namespace: <input name="namespace" type="text" />
            <input value="Lookup" type="submit" />
            </div>
        </form>
  {%elif status.namespace_id %}
      <h2>Namespace Record for "{{name}}"</h2><br>
      <p>Server responsed "{{status}}"</p>
  {% endif %}
  </div>
<!-- End namespace_lookup Body -->
{% endblock %}