{% extends "base.html" %}
{% block content %}
<!-- Start name_lookup Body -->
  <div class="container text-center">
  {% if status.error %}

     <h2>There is no record for "{{name}}"</h2><br>

  {% elif name == '' %}
    <h2>Lookup a Redd-ID Alias?</h2><br>
    <p></p>

        <form role="form" action="" method="post" name="lookup">
        {{ form.hidden_tag() }}
          <div class="form-group">
            Alias: {{ form.nameid(size=80) }}
            <input value="Lookup" type="submit" />
            </div>
        </form>
  {% elif status.name %}
  
      <h2>Name Lookup</h2><br>
    <table class="table">
      <tr>
        <td>Name:</td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td>First Registered</td>
        <td>{{status['first_registered']}}</td>
      </tr>
      <tr>
        <td>Paid</td>
        <td>{{status['op_fee']  * 0.00000001}} rdd</td>
      </tr>
    </table>



  {% endif %}

  </div>
<!-- End name_lookup Body -->
{% endblock %}