{% extends "base.html" %}
{% block content %}
<!-- Start name_price Body -->


  <div class="container text-center">
  {%if price == 0 %}
    <h2>What is the price for a Redd-ID?</h2><br>
    <p class="text-left">Every name costs a certain amount of money to register, and each namespace has it's own name pricing rules</p>
    <p class="text-left">The price that you pay is put back to the network as an stake reward for nodes that are staking, node operators, and development fund</p>
    <p class="text-left">To determine how much your name will cost to order, use the following form.</p><br>

        <form role="form" action="" method="post" name="price">
          <div class="form-group">
            Username: <input name="username" type="text" />
            <input value="Calculate" type="submit" />
            </div>
        </form>
  {% else %}
    <h2>The price of registering "{{name}}" is?</h2><br>
    <p>{{price['satoshis'] * 0.00000001}} RDD</p>
    <p>{{price['satoshis'] * 0.000001}} mRDD</p>
    <p>{{price['satoshis'] * 0.001}} uRDD</p>
    <p>{{price['satoshis']}} rdd satoshi</p>
      <hr>
      <p>
        <a href="/name/price" class="btn btn-info" role="button">Lookup New</a>
      </p>
  {% endif %}
  </div>
<!-- End name_price Body -->
{% endblock %}