    <nav class="navbar .navbar-inverse navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Redd-ID</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">DETAILS
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/what_is_reddid">What Is Redd-ID</a></li>
                <li><a href="/how_does_it_work">How Does Redd-ID Work</a></li>
                <li><a href="/acknowledge">Acknowledge</a></li>
                <li><a href="/reward">Reward</a></li>
                <li><a href="/promote">Promote</a></li>
                <li><a href="#">Blockchain Identity</a></li>
                <li><a href="#">Blockchain Profiles</a></li>
                <li><a href="#">More info</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">IDENTITY
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/name/details">What Is An Identity</a></li>
                <li><a href="/name/lookup">Lookup</a></li>
                <li><a href="/name/price">Price</a></li>
                <li><a href="/name/register">Register</a></li>
                <li><a href="#">More info</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">NAMESPACE
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">What is a Namespace</a></li>
                <li><a href="/namespace/lookup">Lookup</a></li>
                <li><a href="/namespace/price">Price</a></li>
                <li><a href="#">How Does it Work</a></li>
                <li><a href="#">More info</a></li>
              </ul>
            </li> 
            <li class="dropdown">
                <a href="/register">
                    <span class="glyphicon glyphicon-pencil"></span>Register
                </a>
            </li> 
            <li class="dropdown">
                <a href="/login">
                    <span class="glyphicon glyphicon-log-in"></span>Login
                </a>
            </li> 
            <!-- add search form -->
            <li class="dropdown">
              <form id="prefetch_search" class="navbar-form navbar-right" role="search">
                  <div class="input-group">
                      <input type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" placeholder="Search users">
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-default">
                          <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
