{% extends "base.html" %}
{% block content %}
<!-- Start what_is_reddid Body -->


  
  <div class="container text-center">
  <div class="hw_status"></div>
    <h2>What is Redd-ID?</h2><br>
    <p class="text-left">Redd-ID is a decentralised, blockchain based protocol for providing a platform for micro-transactions and sharing social identity.</p>
    <p class="text-left">Redd-ID is maintained on a global network of computers, much the same as Reddcoin (or Bitcoin). Collectively the network holds and maintains a global registry of social identity and public keys on its own blockchain (sidechain).</p>
    <p class="text-left">The Redd-ID global registry contains each owner's key/value pairs that are associated for each social media identity. The registry can be queried to identify and resolve recipients (akin to a global address book). Users of the registry can opt to make any of their information public or private.</p>
    <br>
    <ul class="list-unstyled text-left">
      <li>Redd-ID provides:</li>
        <ul>
          <li>Self-managed – 100% control over identification and funds</li>
          <li>Decentralized – trust in the network</li>
          <li>Social Identity – bringing real people together</li>
        </ul>
    </ul>
    <br>
    <p class="text-left">You can also support the network by running your own node. This has the benefit of not only participating in but also securing the network against tampering and control (no central authority)
    </p>
    <hr><p>
    <a href="/how_does_it_work" class="btn btn-info" role="button">Next - How does it work</a>
    </p>
  </div>
<!-- End what_is_redd Body -->
{% endblock %}
